@charset "UTF-8";



/*MENU COMMON*/

.menu_section{
  margin-top: 0;
}

.img_filter2::after {
  content: '';
  background: linear-gradient(0deg, rgba(236, 204, 204, 0.2), rgba(236, 204, 204, 0.2));
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30vh;

}


.food_menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}


.food_menu {
  margin: 10px 30px;
  width: 25%;

}

.food_img {
  width: 90%;
  height: 30vh;
  margin-bottom: 20px;
  position: relative;
}

.food_img img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: 50% 70%;
}

.food_detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.food_name,
.food_price {
  padding: 10px 30px;
  font-size: 16px;
}


/*COFFEE*/

.coffee_fixed_bg{
  position: relative;
  background: linear-gradient(0deg, rgba(236, 204, 204, 0.2),
    rgba(236, 204, 204, 0.2)), url(../img/IMG0078b.webp) no-repeat center;
  
   min-height: 100%;
   height: 400px;
   background-size: cover;
   background-attachment: fixed;
}

.menu_list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 60px auto;
}

.menu_list ul{
  list-style: none;
  padding: 0;
  width: 80%;
  text-align: center;
  margin: auto;
}

.menu_list ul li{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  line-height: 50px;
}

.menu_name{
  width: 70%;
  text-align: left;
}

.menu_price{
  width: 30%;
  text-align: right;
}


/*food&desser common*/
.open {
  cursor: pointer;
}


.close{
  cursor: pointer;
  padding: 30px;
  padding-bottom: 0;
  font-size: 24px;
  background: #BCDEE3;

}



/*FOOD*/

#pop-up{
  display: none;
}

.overlay{
  display: none;
}

#pop-up:checked + .overlay{
  display: block;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
}


/*DESSERT*/
#pop-up2 {
  display: none;
}

.overlay2 {
  display: none;
}

#pop-up2:checked + .overlay2 {
  display: block;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
}